<div ng-if="currUser" class="displayContainer">
 <div class="container">
   <h2>Welcome {{currUser.username}}
    <button type="button" class="btn btn-primary btn-md uploadButton" data-toggle="modal" data-target="#uploadSongModal" ng-Click="hc.resetSongFields()">
      Upload Song
    </button> 
    <a ng-click="hc.logout()" class="pull-right">Logout</a>
   </h2>
   <div ng-include="'webui/views/uploadSongModal.html'"></div>  
 </div>
 <div class="container songContentContainer">
   	<div class="row rowSongContentContainer">
   		<div class="col-sm-6 col-sm-offset-3 columnSongContentContainer">
   			<div class="currentSong">
   			  <div class="currentSongPlayOptions" ng-if="currUser.role.name == 'ADMIN'">
   				<audio id="selectedSong" controls="controls" 
   				 src="{{mainSongDir + currentPlayingSong.path}}" 
   				 type="audio/mpeg" preload autoplay song-action>
   					Your browser does not support HTML5 Audio!
   				</audio>
   				<span class="glyphicon glyphicon-forward glypForNextSong" ng-click="hc.changeSongs()"></span>
   			  </div>
   			  <div class="currentSongDetailDisplay">
   			  	{{currentPlayingSong.title}}
   			  </div>
   			</div>
   			<div class="songQueueList">
   				<ul class="list-group songListUl" >
   				 <li class="list-group-item" ng-repeat="x in allSongsList | orderBy:'-upVote'" 
   				 	 id="song_li_{{x.id}}">
   				 	{{x.title}}
   				 	<span class="badge">{{x.upVote}}</span>     
   				 	<span class="glyphicon glyphicon-thumbs-up glypUpVote" id="glyUpVote_{{x.id}}"
   				 		  ng-click="hc.likeSong(currUser.id , x.id)" 
   				 		  ng-if="!userSongUpVoteMap[x.id]"></span> 
   				 </li>
   				</ul>
   			</div>
   		</div>
   	</div>
 </div>
</div>
<div ng-if="!currUser">
 	<div class="container"><h2>You are not Authenticated to view this screen. Please login</h2></div>
</div>